.mainbutton {
  color: #207BFF;             // Default text color
  border-color: #207BFF;      // Default border color

  &:hover {
    background-color: #207BFF;  // Background color on hover
    color: white;               // Text color on hover
    border-color: #207BFF !important;  // Force border color to stay blue on hover
  }
}
